@page "/fetchdata"
@using System.Text.Json
@using System.Net.Http.Json
@inject HttpClient HttpClient

<div class="card text-center m-3">
    <h5 class="card-header">Simple GET Request</h5>
    @foreach (var forecast in responses){
    <div class="card-body">
        Total users: @forecast.TemperatureF
    </div>
    }
</div>

@code {
        private Forecast[]? responses;
        protected override async Task OnInitializedAsync(){
        // convert response data to JsonElement which can handle any JSON data
            responses = await HttpClient.GetFromJsonAsync<Forecast[]>("https://localhost:7132/weatherforecast");
        }
}
    
}
